body {

    color: white;
    background-color: rgb(200, 230, 239);
}

html,
body,
ul,
p,
li {
    font-size: 17px;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 44, 44);
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100vw;
    padding: 1rem 0 1rem 0;
}

nav ul {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

}

nav ul li {
    list-style: none;


}

img {
    height: 30rem;
    width: 20rem;
    object-fit: contain;
    position: relative;

}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#btn {
    position: absolute;
    z-index: 1;
    top: 20rem;
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    background-color: rgb(0, 44, 44);
    color: white;
}

footer {
    display: flex;
    gap: 1rem;
    background-color: rgb(0, 44, 44);
    color: white;
    padding: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5rem;
   
   

}



footer ul li {
    list-style: none;

}
